<!DOCTYPE html>
<html>
  <head>
    <title>TakeMeHome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>TakeMeHome</h1>
    <p>Welcome to TakeMeHome test API</p>
  </body>
</html>
