<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
    <form id="signup" name="signup" method="post" action="/register">
        <label for="email">Pouzivatelske meno</label>
        <input class="text" name="username" type="text" />
        <label for="firstname">Meno</label>
        <input name="firstname" type="text" />
        <label for="lastname">Priezvisko</label>
        <input name="lastname" type="text" />
        <label for="password">Heslo</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign Up" />
    </form>
 
</body>
 
</html>